.button {
    display: block;
    width: 194px;
    line-height: 61px;
    height: 61px;
    font-weight: bold;
    font-size: 14px;
    color: #57B3FE;
    background: #FFFFFF;
    border-radius: 60px;
    border: none;
    text-transform: uppercase;
}