.button {
    display: block;
    width: 194px;
    line-height: 61px;
    height: 61px;
    font-weight: bold;
    font-size: 14px;
    color: #57B3FE;
    background: #FFFFFF;
    border-radius: 60px;
    border: none;
    text-transform: uppercase;
    &:hover {
        box-shadow: 0px 0px 19px #2fb5b9 inset;

    }
}